@use '../core/all' as *;

.project {
	// .project__body

	&__body {
		padding: 12rem 0;
	}

	// .project__content
	&__content {
		padding-left: 10vw;
	}

	// .project__row
	&__row {
		display: flex;
	}

	// .project__column
	&__column {
		width: 100%;
	}

	// .project__title
	&__title {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 6rem;

		h3 {
			font-size: 44px;
			text-transform: uppercase;
			font-weight: 900;
			line-height: 1;
			color: gray;
			@extend .text-shadow-pink;
		}

		span {
			display: block;
			font-size: 1.2rem;
			text-align: right;
		}
	}

	// .about-content__icon
	&__icon {
		._icon {
			&::before {
				font-size: 34px;
				color: gray;
				@extend .text-shadow-pink;
			}
		}
	}
}
.grid-box {
	// .grid-box__content
	&__content {
		display: grid;
		grid-template-columns: repeat(3, 33.333333%);
		column-gap: 2rem;
		width: 100%;
		// grid-auto-rows: 32vmin;
	}

	// .grid-box__item
	&__item {
		// max-width: 490px;
		width: 100%;
		display: grid;
		align-items: center;
		align-content: center;
		margin: 3vw 0;
		overflow: hidden;

		&:nth-child(even) {
			margin-left: -4vw;
		}

		&:hover {
			.grid-box__image {
				scale: 0.95 !important;
			}

			img {
				scale: 1.1;
			}
		}
	}

	// .grid-box__image
	&__image {
		cursor: pointer;
		transition: scale 0.9s ease-in-out;

		img {
			filter: grayscale(1) sepia(0) saturate(0.5) contrast(0.9) brightness(0.4);
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: scale 0.7s ease-in-out;
		}
	}

	// .grid-box__split-wrapper
	&__split-wrapper {
		cursor: pointer;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		perspective: 200px;
		perspective-origin: 42% 80%;

		span {
			display: block;
			position: relative;
			z-index: 1;
			margin-top: -2rem;
			text-transform: uppercase;
			text-align: center;

			transform-origin: 50% -80%;
			transform: rotateX(-24deg) translateZ(-30px);
			transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
		}

		&:hover {
			.grid-box__split,
			span {
				transform: none;
			}
		}
	}

	// .grid-box__split
	&__split {
		display: block;
		text-align: center;
		font: 98px $font-family-exclude-secondary;
		text-transform: uppercase;
		letter-spacing: -2px;
		line-height: 1;
		font-weight: 900;
		transform-origin: 50% -80%;
		transform: rotateX(-24deg) translateZ(-30px);
		transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);

		@include minmax-320-1920 {
			font-size: calc(48px + (98 - 48) * ((100vw - 490px) / (1920 - 490)));
		}

		p {
			white-space: nowrap;
			overflow: hidden;
		}
		&:nth-child(2) {
			margin-top: -4rem;
		}
	}

	// .grid-box__item--title
	&__item--title {
		color: gray;
	}

	// .grid-box__item--c1-r1
	&__item--c1-r1 {
		grid-column: 1;
		grid-row: 1;
	}

	// .grid-box__item--c2-r1
	&__item--c2-r1 {
		grid-column: 2;
		grid-row: 1;
		// margin-left: -4vw;
	}

	// .grid-box__item--c1-r2
	&__item--c1-r2 {
		grid-column: 1;
		grid-row: 2;
	}

	// .grid-box__item--c2-r2
	&__item--c2-r2 {
		grid-column: 2;
		grid-row: 2;
		// padding-left: 1vw;
	}

	// .grid-box__item--c2-r3
	&__item--c2-r3 {
		grid-column: 2;
		grid-row: 3;
		// margin-left: -2vw;
	}

	// .grid-box__item--c3-r3
	&__item--c3-r3 {
		grid-column: 3;
		grid-row: 3;
		// padding-left: 1vw;
	}

	// .grid-box__item--c2-r3
	&__item--c2-r4 {
		grid-column: 2;
		grid-row: 4;
	}

	// .grid-box__item--c3-r3
	&__item--c3-r4 {
		grid-column: 3;
		grid-row: 4;
		// margin-left: -3vw;
	}

	// .grid-box__item--c1-r5
	&__item--c1-r5 {
		grid-column: 1;
		grid-row: 5;
	}

	// .grid-box__item--c2-r5
	&__item--c2-r5 {
		grid-column: 2;
		grid-row: 5;
		// margin-left: -3vw;
	}
}
