@use '../core/all' as *;
.performance {
	.parallax {
		filter: grayscale(1);
	}

	// .performance__body
	&__body {
		position: relative;
		display: flex;
		align-items: center;
	}

	// .performance__content
	&__content {
		height: 100%;
		width: 100%;
	}

	// .performance__row
	&__row {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		row-gap: 4rem;

		&:nth-child(1) {
			column-gap: 1rem;
			margin-bottom: 6rem;

			.performance__column {
				overflow: hidden;
				&:nth-child(1) {
					p {
						font-size: 62px;
						font-weight: 300;
						line-height: 100%;
						text-transform: uppercase;
						color: $gray;
						@extend .text-shadow-pink;

						@include minmax-490-1920 {
							font-size: calc(
								24px + (62 - 24) * ((100vw - 490px) / (1920 - 490))
							);
						}

						@include screen-490 {
							font-size: 24px;
						}
					}
				}

				&:nth-child(2) {
					display: flex;

					._icon {
						transform: translateY(2rem);
						margin-right: 1rem;

						&::before {
							font-size: 3.2rem;
							color: #747272;
						}
					}
				}
			}
		}

		&:nth-child(2) {
			display: flex;
			column-gap: 2rem;

			@include screen-768 {
				flex-direction: column;
			}

			.performance__column {
				&:nth-child(1) {
					display: flex;
					span {
						display: block;
					}
				}
			}
		}
	}

	// .performance__column
	&__column {
		h1 {
			cursor: pointer;
			font-family: $font-family-exclude;
			text-transform: uppercase;
			color: #747272;
			text-shadow: 10px 10px 15px #000000;

			span {
				pointer-events: none;
				font-size: 132px;
				&:last-child {
					line-height: 100%;
				}

				@include minmax-490-1920 {
					font-size: calc(36px + (132 - 36) * ((100vw - 490px) / (1920 - 490)));
				}

				@include screen-490 {
					font-size: 36px;
				}
			}
		}

		&:nth-child(2) {
			max-width: 50.7rem;
		}
	}

	// .performance__date
	&__date {
		display: flex;
		align-items: flex-end;
		gap: 1rem;
		color: #747272;

		.day {
			display: flex;
			align-items: end;
			line-height: 100% !important;
			font: 164px $font-family-exclude;

			@include minmax-490-1920 {
				font-size: calc(48px + (164 - 48) * ((100vw - 490px) / (1920 - 490)));
			}

			@include screen-490 {
				font-size: 48px;
			}
		}

		.data-wrapp {
			.status,
			.month {
				font-family: $font-family-secondary;
				font-size: 3.4rem;
				font-weight: 900;
			}

			.status {
				font-size: inherit;
				color: gray;
			}
		}
	}

	// .performance__text
	&__text {
		font-weight: 300;
		@extend .text-shadow;

		p {
			opacity: 0.8;
			&:first-child {
				text-align: right;
			}
		}
	}
}

.parallax__image:not(:last-child):after {
	content: '';
	position: absolute;
	right: 0px;
	background-color: #3d3d3d;
	height: 100%;
	top: 0;
	width: 2.5px;
	z-index: 999;
}

.parallax {
	// position: absolute;
	height: 100vh;
	transition: all 0.9s ease-in-out;
	&__inner {
		height: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	&__image {
		overflow: hidden;
		img,
		.anim-swipe {
			position: absolute;
			width: 700%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			max-width: none;
		}

		&:nth-child(1) img {
			left: -100%;
		}

		&:nth-child(2) img {
			left: -200%;
		}

		&:nth-child(3) img {
			left: -300%;
		}

		&:nth-child(4) img {
			left: -400%;
		}

		&:nth-child(5) img {
			left: -500%;
		}

		&:nth-child(6) img {
			left: -600%;
		}

		&:not(:last-child) {
			&::after {
				content: '';
				position: absolute;
				right: 0px;
				background-color: #3d3d3d;
				height: 100%;
				top: 0;
				width: 2.5px;
				z-index: 999;
			}
		}

		.anim-swipe,
		img {
			position: absolute;
			width: 700%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
