@use '../core/all' as *;

.project {
	// .project__body
	&__body {
		padding: 12rem 0;

		@include screen-690 {
			padding: 6rem 0;
		}
	}

	// .project__content
	&__content {
		padding-left: 10vw;
	}

	// .project__row
	&__row {
		display: flex;
	}

	// .project__column
	&__column {
		width: 100%;
	}

	// .project__title
	&__title {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 8rem;

		@include screen-690 {
			// margin-bottom: 6em;
		}

		h3 {
			font-size: 44px;
			text-transform: uppercase;
			font-weight: 900;
			line-height: 1;
			color: gray;
			transform: translateX(-4rem);

			@include minmax-320-1920 {
				font-size: calc(32px + (44 - 32) * ((100vw - 320px) / (1920 - 320)));
			}

			@include screen-320 {
				font-size: 32px;
			}

			@extend .text-shadow;
		}

		span {
			display: block;
			font-size: 1.2rem;
			text-align: right;
		}
	}

	// .about-content__icon
	&__icon {
		._icon {
			&::before {
				font-size: 6.4rem;
				color: gray;
				@extend .text-shadow;
				opacity: 0.5;
			}
		}
	}
}

.grid-box {
	// .grid-box__content
	&__content {
		display: grid;
		grid-template-columns: repeat(3, 33.333333%);
		column-gap: 2rem;
		row-gap: 6vw;
		width: 100%;

		&._hide {
			.split__line {
				transform: translateY(100%);
				opacity: 0;
			}
		}

		@include screen-768 {
			grid-template-columns: repeat(2, 50%);
		}

		@include screen-375 {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .grid-box__item
	&__item {
		position: relative;
		width: 100%;
		display: grid;
		align-items: center;
		align-content: center;
		overflow: hidden;

		&:nth-child(even) {
			margin-left: -4vw;

			@include screen-375 {
				margin-left: 0;
			}
		}

		&:hover {
			.grid-box__image {
				// scale: 0.95 !important;
				scale: 1.1 !important;
			}

			.filter-bg {
				transform: translateY(0);
			}
		}

		.filter-bg {
			position: absolute;
			z-index: 9;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(to top, #000000e7, #02010104 70%);
			color: gray;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			padding: 2rem 4rem;
			transform: translateY(100%);
			transition: transform 0.9s ease-in-out;
			@extend .text-shadow;
		}
	}

	// .grid-box__image
	&__image {
		overflow: hidden;
		cursor: pointer;
		transition: scale 0.9s ease-in-out;

		img {
			filter: grayscale(1) sepia(0) saturate(0.5) contrast(0.9) brightness(0.4);
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: scale 0.7s ease-in-out;
		}
	}

	// .grid-box__split-link
	&__split-link {
		cursor: pointer;
		overflow: hidden;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		perspective: 200px;
		perspective-origin: 45% 80%;

		&:hover {
			.split__line,
			span {
				transform: none;
			}
		}

		.split {
			// .split__line
			&__line {
				display: block;
				width: 100%;
				opacity: 1;
				text-align: center;
				font: 98px $font-family-exclude-secondary;
				text-transform: uppercase;
				letter-spacing: -2px;
				line-height: 98px;
				font-weight: 900;
				transform-origin: 50% -80%;
				transform: rotateX(-24deg) translateZ(-30px);
				transition: all 1.9s cubic-bezier(0.77, 0, 0.175, 1);
				color: gray;

				span {
					display: block;
					position: relative;
					z-index: 1;
					margin-top: 0;
					text-transform: uppercase;
					text-align: center;
					font-family: $font-default;
					font-weight: normal;
					transform-origin: 50% -80%;
					transform: rotateX(-24deg) translateZ(-30px);
					transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
					letter-spacing: normal;
					line-height: 1.6;
					max-width: 30ch;
					@extend .text-shadow;
				}

				&:not(:last-child) {
					margin-top: -4rem;
				}

				&:first-child {
					margin-top: 0;
				}

				@include minmax-320-1920 {
					font-size: calc(38px + (98 - 38) * ((100vw - 320px) / (1920 - 320)));
					line-height: calc(
						52px + (98 - 52) * ((100vw - 320px) / (1920 - 320))
					);
				}

				@include screen-320 {
					font-size: 38px;
					line-height: 52px;
				}

				p {
					white-space: nowrap;
				}
			}
		}
	}

	// .grid-box__item--title
	&__item--title {
		z-index: 1;
		color: gray;

		@include screen-375 {
			margin-bottom: 4vw;
		}
	}

	// .grid-box__item--c1-r1
	&__item--c1-r1 {
		grid-column: 1;
		grid-row: 1;
		@include screen-375 {
			grid-column: 1;
			grid-row: 2;
		}
	}

	// .grid-box__item--c2-r1
	&__item--c2-r1 {
		grid-column: 2;
		grid-row: 1;
		@include screen-375 {
			grid-column: 1;
			grid-row: 1;
		}
	}

	// .grid-box__item--c1-r2
	&__item--c1-r2 {
		grid-column: 1;
		grid-row: 2;

		@include screen-375 {
			grid-column: 1;
			grid-row: 3;
		}
	}

	// .grid-box__item--c2-r2
	&__item--c2-r2 {
		grid-column: 2;
		grid-row: 2;
		@include screen-375 {
			grid-column: 1;
			grid-row: 4;
		}
	}

	// .grid-box__item--c2-r3
	&__item--c2-r3 {
		grid-column: 2;
		grid-row: 3;
		margin-left: -4vw;

		@include screen-375 {
			grid-column: 1;
			grid-row: 5;
			margin-left: 0;
		}
	}

	// .grid-box__item--c3-r3
	&__item--c3-r3 {
		grid-column: 3;
		grid-row: 3;
		@include screen-375 {
			grid-column: 1;
			grid-row: 6;
		}

		@include screen-690 {
			grid-column: 1;
			grid-row: 3;
		}
		// padding-left: 1vw;
	}

	// .grid-box__item--c2-r4
	&__item--c2-r4 {
		grid-column: 2;
		grid-row: 4;
		@include screen-375 {
			grid-column: 1;
			grid-row: 8;
		}
	}

	// .grid-box__item--c3-r4
	&__item--c3-r4 {
		grid-column: 3;
		grid-row: 4;

		@include screen-768 {
			grid-column: 1;
			grid-row: 4;
			margin-left: 0 !important;
		}
		@include screen-375 {
			grid-column: 1;
			grid-row: 7;
		}
		// margin-left: -3vw;
	}

	// .grid-box__item--c1-r5
	&__item--c1-r5 {
		grid-column: 1;
		grid-row: 5;
		@include screen-375 {
			grid-column: 1;
			grid-row: 10;
		}
	}

	// .grid-box__item--c2-r5
	&__item--c2-r5 {
		grid-column: 2;
		grid-row: 5;
		@include screen-375 {
			grid-column: 1;
			grid-row: 9;
		}
	}

	// .grid-box__buttons
	&__buttons {
		margin-top: 4vw;
		overflow: hidden;
		padding: 0.5rem;

		&._hide {
			.project-buttons__items {
				transform: translateY(101%);
			}
		}
	}
}

.project-buttons {
	// .project-buttons__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, max-content);
		gap: 2rem;
		transition: transform 0.7s ease-in;

		span {
			white-space: nowrap;
		}

		@include screen-768 {
			grid-template-columns: repeat(2, max-content);
		}

		@include screen-490 {
			grid-template-columns: repeat(1, max-content);
			justify-content: center;
		}

		@include screen-320 {
			width: 100%;
		}
	}

	// .project-buttons__item-fade
	&__item-fade {
		padding: 1.6rem 0;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		line-height: 1;

		span {
			display: block;
			line-height: 1;
			font-size: 18px;
		}

		@include screen-768 {
			display: none;
		}
	}

	// .project-buttons__item
	&__item {
		&:hover {
			.running-line__inner {
				@include min-1024 {
					opacity: 1;
					transition-duration: 0.6s;
				}
			}

			@include min-1024 {
				> span {
					opacity: 0;
				}
			}
		}

		@include minmax-490-1140 {
			font-size: calc(18px + (32 - 20) * ((100vw - 490px) / (1140 - 490)));
		}

		@include screen-490 {
			display: flex;
			justify-content: center;
			font-size: 18px;
		}

		@include screen-320 {
			width: 100%;
		}
	}
}
