@use '../core/all' as *;

.performance {
	// .performance__body
	&__body {
		position: relative;
		display: flex;
		align-items: center;
	}

	// .performance__content
	&__content {
		height: 100%;
		width: 100%;
	}

	// .performance__row
	&__row {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		row-gap: 4rem;

		.el-2 {
			padding-bottom: 4rem;
		}

		&:nth-child(1) {
			column-gap: 1rem;
			margin-bottom: 12rem;

			.performance__column {
				&:nth-child(1) {
					p {
						font-size: 62px;
						font-weight: 700;
						line-height: 100%;
						text-transform: uppercase;
						color: #ff8040;
						@extend .text-shadow-pink;

						@include minmax-490-1920 {
							font-size: calc(
								42px + (62 - 42) * ((100vw - 490px) / (1920 - 490))
							);
						}

						@include screen-490 {
							font-size: 42px;
						}
					}
				}

				&:nth-child(2) {
					display: flex;

					._icon {
						transform: translateY(2rem);

						&::before {
							font-size: 3.2rem;
							color: #747272;
						}
					}
				}
			}
		}

		&:nth-child(2) {
			display: grid;
			grid-template-columns: min-content max-content;
			justify-content: space-between;

			@include screen-690 {
				grid-template-columns: 1fr;
				justify-items: end;
			}

			.performance__column {
				&:nth-child(1) {
					display: flex;

					span {
						display: block;
					}
				}
			}
		}
	}

	// .performance__column
	&__column {
		.el-1 {
			font-family: $font-family-secondary;
			font-weight: 900;
		}

		&.bounce-01 {
			@include screen-690 {
				padding-left: 12vw;
			}
		}

		h1 {
			font-family: $font-family-exclude;
			text-transform: uppercase;
			color: gray;

			span {
				pointer-events: none;
				font-size: 128px;
				letter-spacing: -2px;

				&:last-child {
					line-height: 100%;
				}

				@include minmax-490-1920 {
					font-size: calc(39px + (128 - 39) * ((100vw - 490px) / (1920 - 490)));
				}

				@include screen-490 {
					font-size: 39px;
				}
			}
		}

		&:nth-child(1) {
			width: min-content;
		}
		&:nth-child(2) {
			max-width: 54.963rem;
		}
	}

	// .performance__date
	&__date {
		display: flex;
		align-items: flex-end;
		gap: 1.6rem;
		color: gray;
		opacity: 0.7;
		margin-left: 1.6rem;

		.day {
			display: flex;
			align-items: end;
			letter-spacing: -2px;
			font: 128px $font-family-exclude;
			transform: scaleY(1.5);

			@include minmax-490-1920 {
				font-size: calc(48px + (128 - 38) * ((100vw - 490px) / (1920 - 490)));
			}

			@include screen-490 {
				font-size: 48px;
			}
		}

		.data-wrapper {
			.status,
			.month {
				font-family: $font-family-secondary;
				font-size: 3.4rem;
				font-weight: 900;
				line-height: 1;
			}

			.month {
				margin-bottom: 1rem;
			}

			.status {
				font-size: inherit;
				color: #fff;
			}
		}
	}

	// .performance__text
	&__text {
		font-weight: 300;
		@extend .text-shadow;

		p {
			opacity: 0.8;
			line-height: 1.4;

			&:first-child {
				text-align: right;
				margin-bottom: 1rem;
			}
		}
	}

	.parallax {
		position: absolute;
		height: 100vh;
		width: 100%;
		opacity: 0.3;
		filter: grayscale(1);

		&__inner {
			height: 100%;
			display: grid;
			grid-template-columns: repeat(6, 1fr);
		}

		&__image-cont {
			position: relative;
			overflow: hidden;

			img {
				max-width: none;
			}
		}

		&__image-cont {
			.parallax__anime-swipe,
			img {
				position: absolute;
				width: 700%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}

			&:not(:last-child) {
				&::after {
					content: '';
					position: absolute;
					right: 0;
					background-color: #111;
					height: 100%;
					top: 0;
					width: 2.5px;
					z-index: 999;
				}
			}

			&:nth-child(1) {
				img {
					left: -100%;
				}
			}

			&:nth-child(2) {
				img {
					left: -200%;
				}
			}

			&:nth-child(3) {
				img {
					left: -300%;
				}
			}

			&:nth-child(4) {
				img {
					left: -400%;
				}
			}

			&:nth-child(5) {
				img {
					left: -500%;
				}
			}

			&:nth-child(6) {
				img {
					left: -600%;
				}
			}
		}

		// .parallax__anime-swipe
		&__anime-swipe {
			width: 100%;
			background-color: $black-color;
		}
	}
}
