@use '../core/all' as *;

.about-content {
	// .about-content__body

	&__body {
		padding: 12rem 0;

		@include screen-690 {
			padding: 6rem 0;
		}
	}

	// .about-content__content
	&__content {
		padding-left: 12vw;
	}

	// .about-content__row
	&__row {
		display: flex;

		&:nth-child(2) {
			// justify-content: center;
			.about-content__column {
				@include minmax-690-1920 {
					flex: 0 1 50%;
				}

				&:nth-child(1) {
					max-width: 690px;
				}

				&:nth-child(2) {
					@include screen-690 {
						display: none;
					}
				}
			}
		}
	}

	// .about-content__column
	&__column {
		// flex: 0 1 50%;
		// display: inline;
	}

	// .about-content__title
	&__title {
		margin-bottom: 6rem;

		h2 {
			font: 54px $font-family-secondary;
			font-weight: 700;
			line-height: 1;
			color: gray;

			@include minmax-490-1920 {
				font-size: calc(34px + (54 - 34) * ((100vw - 490px) / (1920 - 490)));
			}

			@include screen-490 {
				font-size: 34px;
			}
		}

		span {
			display: block;
			font-size: 1.4rem;
			text-align: right;
		}
	}

	// .about-content__info
	&__info {
		@include screen-490 {
			font-size: 15px;
		}
	}
}
