@use '../core/all' as *;

.header {
	position: relative;
	width: 100%;
	z-index: 9;
	background: transparent;
	display: flex;
	align-items: center;

	&::before {
		z-index: 7;
		opacity: 0;
		content: '';
		position: absolute;
		height: 8rem;
		width: 100%;
		background-size: 111% 200%;
		background-position: 0 0;
		transition: opacity 0.5s ease-in-out;
		animation: fadeOutGradient 0.5s ease-in-out alternate-reverse;
		@extend .gradient-header;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		transition: all 0.7s ease-in-out;
		@extend .gradient-border-bottom;
	}

	&.with-border {
		@extend .box-shadow;

		&::before {
			animation: fadeInGradient 0.7s ease-in-out forwards;
			opacity: 1;
		}

		&::after {
			z-index: 9;
			width: 100%;
		}
	}

	// .header__container
	&__container {
		width: 100%;
	}

	// .header__content
	&__content {
		position: relative;
		width: 100%;
		z-index: 8;
		height: 8rem;
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: space-between;
	}

	// .header__column
	&__column {
		height: 100%;
		font-family: $font-family-secondary;

		&:nth-child(1) {
			display: flex;
			align-items: center;
		}

		&:nth-child(2) {
			transform: translateY(7px);
		}
	}

	// .header__logo
	&__logo {
		width: 50px;
		height: 53px;
		opacity: 0.9;

		@include screen-690 {
			width: 40px;
			height: 43px;
		}
	}

	// .header__text
	&__text {
		margin-left: 5px;
		text-transform: uppercase;
		white-space: nowrap;
		text-shadow: 0 0 3px #000;
		display: flex;
		align-items: flex-end;
		transition: color 0.4s ease-in-out;

		span {
			opacity: 0.7;
			font: {
				size: 2.4rem;
				weight: 400;
				family: $font-family-secondary;
			}
			@include screen-690 {
				font-size: 2rem;
			}
		}

		&:hover {
			color: $neon-electric;
		}
	}

	// .header__menu
	&__menu {
		user-select: none;
		display: flex;
		transition: all 0.4s ease 0s;
		margin-right: 1.5rem;
		text-transform: uppercase;
		align-items: flex-start;

		@include screen-768 {
			display: none;
		}
		.icon-home {
			&::before {
				font-size: 22px;
				color: #919191;
			}
		}
	}

	// .header__item
	&__item {
		cursor: pointer;
		position: relative;
		text-shadow: 1px 1px 2px #000;

		&:not(:last-child) {
			margin-right: 2rem;
		}

		&:hover {
			color: $neon-electric;
			text-shadow: 2px 2px 3px #000;

			.icon-home {
				&::before {
					transition: all 0.4s ease 0s;
					color: $neon-electric;
				}
			}
		}

		.icon-home {
			&::before {
				transition: all 0.4s ease 0s;
				text-shadow:
					0 0 15px #000,
					0 0 1em #000,
					0 0 0.2em blue;
			}
		}
	}

	// .header__link-key
	&__link-key {
		font-family: $font-family-secondary;
		font-weight: 300;
		white-space: nowrap;
		span {
			text-shadow:
				0 0 15px #000,
				0 0 1em #000,
				0 0 0.2em blue;
		}

		@extend .link_underline;
		&:not(:first-child) {
			opacity: 1;
		}

		&:hover {
			color: $neon-electric;

			a {
				opacity: 1;
			}
		}

		&._active {
			color: $neon-electric;

			.icon-home {
				&::before {
					color: $neon-electric;
				}
			}
		}
	}
}

.el-community {
	display: flex;
	align-items: center;

	// .el-community__phone
	&__phone {
		display: flex;
		align-items: center;
		transition: all 0.4s ease-in-out;

		&:hover {
			.icon-contacts {
				color: $neon-electric;
			}
			color: $neon-electric;
		}
	}

	.icon-contacts {
		pointer-events: none;
		font-size: 4.4rem;
		color: $electric-lime;
		margin-right: 1rem;
		text-shadow: 1px 1px 3px #000;
		transition: all 0.4s ease-in-out;

		@include screen-425 {
			margin-right: 0;
		}

		@include screen-690 {
			font-size: 32px;
		}
	}

	// .el-community__content
	&__content {
		color: #d4d4d4;
		line-height: 100%;
		@extend .text-shadow;

		@include screen-425 {
			display: none;
		}
	}

	// .el-community__title
	&__title {
		text-transform: uppercase;
		white-space: nowrap;

		@include screen-490 {
			display: none;
		}
	}
}

@keyframes fadeOutGradient {
	100% {
		background-position: 100% 0;
	}
}

@keyframes fadeInGradient {
	100% {
		background-position: 100% 0;
	}
}
